.intro
  %h2
    It's
    %span.linux Linux
    for your
    %span.envy HP Envy
  %img.ubuntu{:src => url('images/ubuntu.png')}
  %img.envy{:src => url('images/envy14.png')}
  .description
    Description