.intro
  %img.ubuntu{:src => url('images/ubuntu.png')}
  %img.envy{:src => url('images/envy14.png')}
  %ul#features
    %li.drivers
      %h3 Tunning
      %p Lenvyx provides better default settings for the HP Envy hardware (Touchpad, Backlight, ...)
    %li.battery
      %h3 Battery life
      %p Lenvyx enhances battery life by properly turning off unused graphic card and optimizing energy settings.
    -#%li.switchable
      %h3 Switchable graphics
      %p Lenvyx handles both integrated (Intel) and discrete (ATI) graphic cards of the HP Envy.
  .download
    %h2 There's two ways to install lenvyx:
    %section#iso
      %h3 Download the old ISO
      %p.details This is the first Lenvyx release based on Ubuntu 11.04 available as an ISO image.
      %a{:href => 'https://mega.co.nz/#!Js0kXaRb!DPnP7xE7C2hm3W8XsLDrchRuQr5rDOUGTyXMhNoofE0', :class => 'button'}
        %img{:src => url('images/cd.png')}
        Download ISO
    %section#patch
      %h3 Patch your current setup
      %p.details Run the scripts from our git repository to enhance your current Ubuntu system
      %a{:href => 'https://github.com/sudeepn/Lenvyx#how-to-install', :class => 'button'}
        %img{:src => url('images/github.png')}
        Instructions
      %p.recommended
        ★ Recommended
    %a{:href => 'https://twitter.com/lenvyx', :class => 'icon twitter'} follow us on twitter for updates