!!!
%html{:lang => 'en'}
  %head
    %title Lenvyx - linux for your HP Envy
    %meta{:name => 'Description', :content => "Lenvyx is a Linux distribution specially crafted for the HP Envy laptop based on Ubuntu"}
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/screen.css"}
    %link{:href => 'http://fonts.googleapis.com/css?family=Ubuntu', :rel => 'stylesheet', :type => 'text/css'}
  %body
    %section#head
      %header
        %h1
          %span.linux L
          %span.envy> envy
          %span.linux x
    %section#content
      #main= yield
    %section#footer
      %footer
        Distribution built by 
        %strong Sudeep Nayak
        Website designed and built by 
        %strong Adrien Jarthon
