!!!
%html{:lang => 'en'}
  %head
    %title Lenvyx - linux for your HP Envy
    %meta{:name => 'Description', :content => "Lenvyx is a Linux distribution specially crafted for the HP Envy laptop based on Ubuntu"}
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/screen.css"}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Ubuntu:400,500'}
    %link{:rel => "shortcut icon", :href => "/favicon.png"} 
    = haml :analytics
  %body
    %section#head
      %header
        %h1
          Lenvyx
        .tagline
          It's ubuntu Linux for your HP Envy
    %section#content
      #main= yield
    %section#footer
      %footer
        ★ Distribution built by 
        %a{:href => 'https://github.com/sudeepn'} Sudeep Nayak
        %br
        ★ Website designed and built by 
        %a{:href => 'http://adrienjarthon.com'} Adrien Jarthon
