@import "compass"

$warmgrey: #AEA79F

@include global-reset

body
  font-family: 'Ubuntu', sans-serif
  background-color: darken($warmgrey, 5%)
  color: darken($warmgrey, 45%)
  @include single-text-shadow(rgba(255, 255, 255, 0.2), 0, 1px, 0)
  section
    header, footer, #main
      width: 1000px
      margin: 0 auto
    &#head
      background-color: $warmgrey
    &#content
      background-color: $warmgrey
      border-bottom: 1px solid rgba(255, 255, 255, 0.2)
    &#footer
      border-top: 1px solid rgba(0, 0, 0, 0.1)

header
  h1
    font-size: 2em
    padding: 0.5em 0

#main
  padding: 2em 0

footer
  font-size: 0.9em
  padding: 1em 0
  color: darken($warmgrey, 30%)
