@import "compass"

$warmgrey: #AEA79F
$text: #222

@include global-reset

span.linux
  color: #920

span.envy
  color: #420

body
  font-family: 'Ubuntu', sans-serif
  background-color: darken($warmgrey, 5%)
  color: $text
  line-height: 1.2em
  +single-text-shadow(rgba(255, 255, 255, 0.2), 0, 1px, 0)
  section
    header, footer, #main
      width: 1000px
      margin: 0 auto
    &#head
      background-color: $warmgrey
    &#content
      background-color: $warmgrey
      background-position: center center
      border-bottom: 1px solid rgba(255, 255, 255, 0.2)
    &#footer
      border-top: 1px solid rgba(0, 0, 0, 0.1)

header
  +clearfix
  h1
    font-size: 3em
    margin: 0.5em 0
    float: left
  .tagline
    float: right
    font-size: 2em
    margin-top: 1em
    margin-right: 1em

#main
  padding: 1em 0
  +background-image(radial-gradient(center center, ellipse contain, lighten($warmgrey, 40%) 0px, $warmgrey 100%))

.intro
  +clearfix
  h2
    font-size: 2em
    margin-bottom: 2em
    text-align: center
  img.ubuntu
    float: left
  img.envy
    float: right
  .description
    clear: both
    float: left
    width: 40%
  ul#features
    li
      padding: 0.5em 0
      h3
        font-size: 1.3em
      p
        margin: 0.3em 0
        font-size: 0.9em

footer
  font-size: 0.9em
  padding: 1em 0
  color: darken($warmgrey, 30%)

p
  text-align: justify